.searchContainer{
  width: 400px;
	margin: 0 auto;
}
#address-input, #radius-input, #budget-input {
  width: 100%;
  margin-bottom: 10px;
}

.search-button-container {
  width: 100%;
  text-align: center;
}
